body {
  font-family: 'Roboto', 'Noto sans', sans-serif;
}

.btn.add-review {
  float: right;
  margin: 30px 15px 0 0;
}

.btn.submit-search {
  margin-bottom: 20px;
}

#cover-image {
  background-attachment: fixed;
  background-image: url(https://source.unsplash.com/vnGRh_nJ5Is);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 64px);
  justify-content: center;
  width: 100vw;
}

.landing-button {
  border: 2px solid white;
  margin-left: 10px;
  margin-right: 10px;
}

.landing-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.landing-text {
  color: white;
  font-size: 100px;
  margin: 0;
  text-align: center;
}
