<div class="container">
  <div class="col s12">
    <div class="row title-section">
      <h2 class="col s6">Rentals</h2>
      <button class="btn waves-effect waves-light add-review" type="submit" name="action">Add Review
        <i class="material-icons right">rate_review</i>
      </button>
    </div>
  </div>
  <div class="divider"></div>
  <br>
  <div class="col s12">
    <div class="row">
      <div class="col s6 card-panel white">
        <h3>Search</h3>
        <form class="col s12" ng-submit="submit(rental)">
          <div class="row">
            <div class="input-field col s12">
              <input ng-model="rental.street" type="text" id="street" class="search-input">
              <label for="street">Street Address (Optional)</label>
            </div>  
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input ng-model="rental.city" type="text" id="city" class="search-input">
              <label for="city">City (Optional)</label>
            </div>  
          </div>
          <br>
          <div class="row">
            <div class="input-field col s3">
              <select ng-model="rental.state" form="rental-search-form">
                <option value="" disabled selected>Choose</option>
                <option value="AK">AK</option><option value="AL">AL</option>
                <option value="AR">AR</option><option value="AZ">AZ</option>
                <option value="CA">CA</option><option value="CO">CO</option>
                <option value="CT">CT</option><option value="DE">DE</option>
                <option value="FL">FL</option><option value="GA">GA</option>
                <option value="HI">HI</option><option value="IA">IA</option>
                <option value="ID">ID</option><option value="IL">IL</option>
                <option value="IN">IN</option><option value="KS">KS</option>
                <option value="KY">KY</option><option value="LA">LA</option>
                <option value="CA">CA</option><option value="MA">MA</option>
                <option value="MD">MD</option><option value="MI">MI</option>
                <option value="MN">MN</option><option value="MO">MO</option>
                <option value="MS">MS</option><option value="MT">MT</option>
                <option value="NC">NC</option><option value="ND">ND</option>
                <option value="NE">NE</option><option value="NH">NH</option>
                <option value="NJ">NJ</option><option value="NM">NM</option>
                <option value="NV">NV</option><option value="NY">NY</option>
                <option value="OH">OH</option><option value="OK">OK</option>
                <option value="OR">OR</option><option value="PA">PA</option>
                <option value="RI">RI</option><option value="SC">SC</option>
                <option value="SD">SD</option><option value="TN">TN</option>
                <option value="TX">TX</option><option value="UT">UT</option>
                <option value="VA">VA</option><option value="VT">VT</option>
                <option value="WA">WA</option><option value="WI">WI</option>
                <option value="WV">WV</option><option value="WY">WY</option>
              </select>
              <label>State (Optional)</label>
            </div>
            <div class="input-field col s6">
              <input ng-model="rental.zipcode" type="text" id="zipcode" class="search-input">
              <label for="zipcode">ZIP code (Optional)</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <select ng-model="rental.stars" form="rental-search-form">
                <option value="" disabled selected>Choose</option>
                <option value="1">1+ Stars</option>
                <option value="2">2+ Stars</option>
                <option value="3">3+ Stars</option>
                <option value="4">4+ Stars</option>
              </select>
              <label>Rating (Optional)</label>
            </div>
            <div class="input-field col s6">
              <select ng-model="rental.numberOfReviews" form="rental-search-form">
                <option value="" disabled selected>Choose</option>
                <option value="1">1+ Reviews</option>
                <option value="5">5+ Reviews</option>
                <option value="10">10+ Reviews</option>
                <option value="50">50+ Reviews</option>
              </select>
              <label>Number of Reviews (Optional)</label>
            </div>
          </div>
          <button class="btn waves-effect waves-light submit-search" type="submit" name="action">Search
            <i class="material-icons right">send</i>
          </button>
        </form>
      </div>
      <div class="col s5 push-s1 card-panel white">
        <h3 ng-bind="profileTitle"></h3>
        <div ng-repeat="profile in currentData">
          <h5>{{profile.street + ', ' + profile.city + ', ' + profile.state + ' ' + profile.zipcode}}</h5>
          <img src="assets/empty_rental_pic.jpg" alt="profile picture" />
          <h5>Stars: {{profile.stars}}</h5>
          <h5>Reviews: {{profile.review_count}}</h5>
          <h5>Latest Review:</h5>
          <p>"{{profile.review_text}}"</p>
          <p>- {{profile.username}}</p>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('select').material_select();
  });
</script>





