<div>
  <div>
    <h2>Landlords</h2>
    <button>Add Review</button>
  </div>
  <div>
    <div>
      <h3>Search</h3>
      <form id="landlord-search-form" ng-submit="submit(landlord)">
        Landlord First Name (Optional):
        <input ng-model="landlord.firstName" type="text" name="firstName" placeholder="Ex: Mickey" class="search-input">
        Landlord Last Name (Optional):
        <input ng-model="landlord.lastName" type="text" name="lastName" placeholder="Ex: Mouse" class="search-input">
        Stars (Optional):
        <select ng-model="landlord.stars" name="stars" class="search-input" form="landlord-search-form">
          <option value="1+" selected>1+</option>
          <option value="2+">2+</option>
          <option value="3+">3+</option>
          <option value="4+">4+</option>
        </select>
        Number of Reviews (Optional):
        <select ng-model="landlord.numberOfReviews" name="numberOfReviews" class="search-input" form="landlord-search-form">
          <option value="1+" selected>1+</option>
          <option value="5+">5+</option>
          <option value="10+">10+</option>
          <option value="50+">50+</option>
        </select>
        <input type="submit" value="Submit" class="submit-button">
      </form>
    </div>
    <div>
      <h3 ng-bind="profileTitle"></h3>
      <div ng-repeat="profile in currentData">
        <img src="assets/empty_prof_pic_male.jpg" alt="profile picture" />
        <h4>{{profile.first_name + ' ' + profile.last_name}}</h4>
      </div>
    </div>
  </div>
</div>